/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.main {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0;
  color: yellow;
}

.box {
  background-color: red;
  margin: auto;
  padding: 30px 40px;
  border-radius: 5px;
  border-width: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  max-width: 100%;
  padding: 30px 40px;
}

.box-header {
  content: "";
  display: block;
  background: skyblue;
  text-align: center;
  font-size: 25px;
  border: 2px solid black
}

textarea {
  padding: 100px;
  padding-top: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: black;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 2px solid black;
  user-select: none;
}

.box-footer {
  text-align: center;
  content: "";
  display: block;
  background: white;
  clear: both;
  border: 2px solid black;
  padding: 20px;
}

#button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border: 2px solid black;
  width: 150px;
  height: 50px;
  text-align: center;
  background: cornflowerblue;
  color: black;
  font-weight: bold;
}