* {
 box-sizing: border-box;
}

body {
 background-color: black;
 justify-content: center;
 align-items: center;
 display: flex;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
}

.main {
 height: 100%;
 margin: 0;
 padding: 0;
 padding: 30px;
 padding-top: 30px;
 padding-left: 20px;
 padding-right: 20px;
}

header {
 text-align: center;
 padding: 20px;
 padding-top: 0;
 color: yellow;
}

.box {
 background-color: red;
 margin: auto;
 padding: 30px 40px;
 border-radius: 5px;
 border-width: 2px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
 max-width: 100%;
 padding: 30px 40px;
}

.box-header {
 content: "";
 display: block;
 background: skyblue;
 text-align: center;
 font-size: 25px;
 border: 2px solid black
}

textarea {
 padding: 100px;
 padding-top: 0px;
 text-align: center;
 font-size: 30px;
 font-weight: bold;
 color: black;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
 border: 2px solid black;
 user-select: none;
}

.box-footer {
 text-align: center;
 content: "";
 display: block;
 background: white;
 clear: both;
 border: 2px solid black;
 padding: 20px;
}

#button {
 cursor: pointer;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 border: 2px solid black;
 width: 150px;
 height: 50px;
 text-align: center;
 background: cornflowerblue;
 color: black;
 font-weight: bold;
}
